.nav-bar{
    border: solid yellow 2px;
}
.nav-link{
border: black solid 5px;
    padding-bottom: -20px;
margin: 5px;

}
.nav{
    float:right;
}
.router-link{
    float: right;
    color: black;
    margin: 5px;
text-decoration: underline;
}